<strong>
  <%= link_to "Back", students_path, class: "btn btn-sm btn-secondary" %>
</strong><br>
<fieldset>
<legend><h2>Student Info</h2></legend>
  <table>
    <tr>
      <td><strong>Name</strong></td>
      <td><%= @student.name %></td>
    </tr>
    <tr>
      <td><strong>Email</strong></td>
      <td><%= @student.email %></td>
    </tr>
  </table>
</fieldset>

<h2>Entries</h2>
<div class="card-body">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= link_to "Add New Entry", new_student_entry_path(@student, @entry), class: "btn btn-sm btn-primary" %></li>
    <% @student.entries.each do |entry| %>
    <li class="list-group-item"><%= link_to entry.title, entry_path(entry) %></li>
    <% end %>
  </ul>
</div>