<strong>
  <%= link_to "Back", students_path, class: "btn btn-sm btn-secondary" %>
</strong><br>
<fieldset>
<legend><h2>Student Info</h2></legend>
  <table>
    <tr>
      <td><strong>Name</strong></td>
      <td><%= @student.name %></td>
    </tr>
    <tr>
      <td><strong>Email</strong></td>
      <td><%= @student.email %></td>
    </tr>
  </table>
</fieldset>

<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Entries</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= link_to "Add New Entry", new_student_entry_path(@student, @entry), class: "btn btn-sm btn-primary" %></li>
      <% @student.entries.each do |entry| %>
      <li class="list-group-item">
        <%= link_to entry.title, student_entry_path(@student, entry) %>
        <%= form_for entry, method: :delete do |f| %>
        <%= f.submit "Delete" %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>