<!DOCTYPE html>
<html>
  <head>
    <title>Teaching Notes</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Poller+One|Raleway:500" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <ul>
            <li><h1><%= link_to "Teaching Notes", root_url, id: "logo" %></h1></li>
            <% if !!session[:teacher_id] %>
              <%= render "layouts/welcome" %>
            <% else %>
              <%= render "layouts/signed_in" %>
            <% end %>
          </ul>
        </nav>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
